spring:
  rabbitmq:
    host: localhost
    port: 5672
    stream:
      username: username
      password: username
  mail:
    host: smtp.gmail.com
    port: 587
    username: your-app-password
    password: your-app-password
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true